td {
	text-align: center;
	border: 1px solid black;
	font-style: italic;
}
/*Center all table cells and make border solid*/

body {
	text-align: center;
}
/*align text center*/

h3 {
	text-align:center;
}
/*align text center*/

li {
	text-align: left;
	font-style: italic;
}
/*align the Vocalists names to the left and italicize*/

#title {
	font-family: 'Pacifico', cursive;
	color: hotpink;
}
/*Use hosted Pacifico font from Google Fonts for Title of Album*/

h2{
	font-family: 'Candal', sans-serif;	
}
/*Use hosted Candal font from Google Fonts for Band Member and Producers Title*/
.img-circle {
	background-image: url(http://www.bet.com/content/betcom/news/music/2014/12/26/nicki-minaj-s-the-pinkprint-debuts-at-no-2/_jcr_content/image.custom1200x675x20.dimg/120114-celebs-dec-musts-nicki-minaj-pink-print.jpg);
	background-repeat: no-repeat;
	background-size: 820px 480px;
	background-position:-160px 0px;
	height:480px;
	width:480px;
	border-radius:50%;
	overflow:hidden;
	margin:auto;	
}
/*Use div to make the image a background*/

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}
/*Make border solid and wide as page*/

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: pink;
}

a:active {
	text-decoration: none;
}
/*Hovering makes link pink and underlined; otherwise - normal*/


tbody tr:nth-child(even) {
	background-color: #BE81F7;
}

tbody tr:nth-child(odd) {
	background-color: #FF00FF;
}

/*Alternate the color of the rows in the track table*/