header {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}
/*Makes the restaurant name center and Open Sans font (all 3 pages)*/

footer {
	font-family: Comic Sans MS; 
	text-align: center;
}
/*Makes the restaurant address center and Cosmic Sans font (all 3 pages)*/

body {
	font-family: Comic Sans MS;
}
/*Makes the body of the code Comic Sans (all 3 pages)*/

.response {
	font-weight: bold;
}
/*Makes the required fields on the contact bage bold for importance*/

a:link {
	text-decoration: none;
}
a:visited {
	color: #80FF00;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
/*link is lime-green when visited, bold when hovered, and normal otherwise*/

.row {
	background-color: orange;
	text-align: center;
}

#myCarousel {
	text-align:center;
}

noscript {
				text-align: center;
				color: red;
			}
